body
{
	font-family: arial;
	background-color: lightblue;

}
body
{
	font-type: arial;
	color: purple;
}
p
{
	font-family: justify;
	font-size: 25px;
	margin-left: 5px;
	margin-top; 10px;
	
}
title
{
	text-transform: uppercase;
	font-family: right;
}